/* navbar fixed at top */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    
}
.navbar-head {
    flex: 1;
    justify-content: flex-start;
}

.nav-logo{
    width: 180px;
    height: 80px;
}

.navbar-links{
    display: inline-block;
    justify-content: space-around;
}

.navbar-links span{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-links span:hover{
    cursor: pointer;
    color:  #23b0cf;
}

.navbar-links a:hover{
    color:  #23b0cf;
    text-decoration: none;
}

.navbar-links .active{
    color:  #23b0cf;
    text-decoration: none;
}


.navbar .buttons button{
    color: #fff;
    background-color: #23b0cf;
    border: none;
    border-radius: 18px;
    width: 80px;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    margin-left: 6px; /* Adjust this value */
    margin-right: 10px;
    flex: 0;
    justify-content: flex-end;
    /* hover scale animation */
    transition: all .2s ease-in-out;
}


/* add hover scale animation */
.navbar .buttons button:hover{
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .nav-logo{
        width: 40px; 
        height: 20px; 
    }

    .navbar-links span{
        font-size: 10px; 
        padding: 5px; 
        margin-left: 3px; 
        margin-right: 3px;
    }

    .navbar .buttons button{
        width: 60px; 
        font-size: 14px; 
        padding: 8px; 
        margin-left: 2px;
        margin-right: 5px; 
        flex: 0;
        justify-content: flex-end;
        transition: all .2s ease-in-out;
    }
    .navbar .buttons button:hover{
        transform: scale(1.1);
    }
}


