.home-container{
    padding-top: 20vh;
    background-color: #ecf8fd;
    padding-bottom: 10vh;
}

.header .heading{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.header .sub-heading{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    color:  #23b0cf;
}

.header .join-button{
    text-align: center;
    width: 160px;
    height: 50px;
    background-color:  #23b0cf;
    border: 0px solid #000;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
}

.banner{
    width: 100%;
    max-width: 560px;
    border-radius: 20px;
}

/* Media query for devices with width less than or equal to 768px */
@media (max-width: 768px) {
    .header .heading{
        font-size: 25px;
    }

    .header .sub-heading{
        font-size: 20px;
    }

    .header .join-button{
        width: 140px;
        height: 40px;
        font-size: 15px;
    }
}
