.numbers{
    padding-top: 10vh;
    background-color: #ecfbfd;
    padding-bottom: 10vh;
    text-align: center;
}

.numbers .number-icon{
    height: 80px;
    padding: 10px;
    color: #0d056c;
}

.numbers .number-text{
    font-size: 26px;
    font-weight: 500;
    color: #0d056c;
}

/* Media query for devices with width less than or equal to 768px */
@media screen and (max-width: 768px) {
    .numbers{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .numbers .number-icon{
        height: 50px;
        padding: 5px;
    }

    .numbers .number-text{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 480px) {
    .numbers{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .numbers .number-icon{
        height: 30px;
        padding: 2px;
    }

    .numbers .number-text{
        font-size: 12px;
    }
}
