.numbers{
    padding-top: 10vh;
    background-color: #ecfbfd;
    padding-bottom: 10vh;
    text-align: center;
}

.numbers .number-icon{
    height: 80px;
    padding: 10px;
    color: #0d056c;
}

.numbers .number-text{
    font-size: 26px;
    font-weight: 500;
    color: #0d056c;
}

/* Media query for devices with width less than or equal to 768px */
@media screen and (max-width: 768px) {
    .numbers .number-icon{
        height: 60px;
    }

    .numbers .number-text{
        font-size: 20px;
    }
}

/* Media query for devices with width less than or equal to 480px */
@media screen and (max-width: 480px) {
    .numbers .number-icon{
        height: 40px;
    }

    .numbers .number-text{
        font-size: 14px;
    }
}
