.footer{
    padding-top: 5vh;
    background-color: #23b8cf;
    /* set footer to bottom */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .colum{
    padding-left: 40px;
}

.footer .footer-logo img{
    width:170px;
}
.footer .footer-text h2{
    font-size: 1.8rem;
}
.footer .footer-text p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.footer .footer-text p a{
    color: #000;
    font-weight: 600;
    
}

.footer .footer-contact {
    padding-left: 0px;
}

.footer .footer-contact a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 20px;
}

.footer .footer-contact .contact-icon{
    color: #000;
    font-size: 1.6rem;
}

.footer .footer-contact p{
    color: #fff;
    font-size: 20px;
}

/* footer-icon on hover rotate animation */
.footer .footer-text .footer-icon{
    padding-right: 10px;
    color:white;
    transition: 0.4s;

}

.footer .footer-text .footer-icon:hover{
    transform: translateY(-6px);

    
}
.numbers .number-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .footer .footer-logo img{
        width: 110px;
    }

    .footer .footer-text h2{
        font-size: 1.4rem;
    }

    .footer .footer-text p,
    .footer .footer-contact p{
        font-size: 15px;
    }

    .footer .footer-contact h2{
        font-size: 1.3rem;
    }

    .footer .footer-contact a{
        font-size: 17px;
    }

    .footer .footer-contact .contact-icon{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px) {
    .footer .footer-logo img{
        width: 90px;
    }


    .footer .footer-text h2,
    .footer .footer-contact h2{
        font-size: 1.2rem;
    }

    .footer .footer-text p,
    .footer .footer-contact p{
        font-size: 14px;
    }

    .footer .footer-contact a{
        font-size: 16px;
    }

    .footer .footer-contact .contact-icon{
        font-size: 1.2rem;
    }
   
}
