.category{
    padding-top: 7vh;
    padding-bottom: 10vh;
}

.category .category-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10vh;
}

.category .category-card{
    box-shadow: 0px 0px 1px 2px #aedae2;
    padding: 20px 20px 20px 20px;
    transition: 0.3s;
    margin-bottom: 5vh;
    border:none;
    background-color: #ecfcfd;
}

.category .category-card:hover{
    box-shadow: 0px 0px 10px  #23b0cf;
    transform: scale(1.07);
}

.category .category-card .category-card-icon{
    color:  #23b0cf;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}

.category .category-card .card-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color:  #23b0cf;
}

.category .category-card .card-text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.category .category-card-button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 130px;
    background-color:  #23b0cf;
    border: 0px solid #000;
    border-radius: 20px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 8px;
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .category .category-heading{
        font-size: 28px;
        margin-bottom: 6vh;
    }

    .category .category-card{
        padding: 12px;
        width: 100%; /* Add this */
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }

    .category .category-card .card-title{
        font-size: 22px;
    }

    .category .category-card .card-text{
        font-size: 14px;
    }

    .category .category-card-button{
        width: 90px;
        font-size: 16px;
        padding: 5px;
    }
}

@media screen and (max-width: 480px) {
    .category .category-heading{
        font-size: 24px;
        margin-bottom: 5vh;
    }

    .category .category-card{
        padding: 10px;
        width: 100%; /* Add this */
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }

    .category .category-card .card-title{
        font-size: 18px;
    }

    .category .category-card .card-text{
        font-size: 12px;
    }

    .category .category-card-button{
        width: 80px;
        font-size: 14px;
        padding: 4px;
    }
}
